# Database Connection (MySQL / MariaDB)
DATABASE_URL="mysql://bookmytime_remote:BookMyTimeRemote@123@77.37.47.89:3306/primeinbox"

# Redis Connection (for BullMQ)
REDIS_URL="redis://localhost:6379"

# Security keys (must match Next.js frontend)
JWT_SECRET="super-secret-jwt-key-should-be-at-least-32-chars"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"

# Port (if you run an status check web API inside the backend, otherwise optional)
PORT=4000
NODE_ENV="development"
